.profile-content-background {
  background: #f5f5f5;
  padding: 24px;
  border-radius: 8px;
}

.profile-data {
  margin: 20px 0;
}

.profile-data .label {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-data .edit-button {
  margin-left: 16px;
}
.username_header {
  border-left: 6px solid #8a33fd;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
}
