// Checkout.scss

.checkout-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .checkout-section {
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 10px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
  
        input {
          width: 100%;
          padding: 8px;
          margin-top: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }
  }
  
  .billing-section,
  .shipping-section,
  .shipping-method-section,
  .payment-method-section,
  .order-summary-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .order-summary-section {
    .order-items {
      .order-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
  
        .order-item-image {
          width: 100px;
          height: 100px;
          margin-right: 20px;
          border-radius: 10px;
          object-fit: cover;
        }
  
        .order-item-details {
          flex: 1;
  
          h4 {
            margin-bottom: 5px;
          }
  
          p {
            margin-bottom: 2px;
          }
        }
      }
    }
  
    .order-totals {
      margin-top: 20px;
      text-align: right;
  
      h4, h3 {
        margin-bottom: 5px;
      }
  
      h3 {
        font-size: 1.2em;
      }
    }
  }
  
  .checkout-button {
    text-align: center;
  
    button {
      padding: 10px 20px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }
  