.product-detail-container {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-images {
  // display: flex;
  // justify-content: space-around;
  // width: 100%;
  margin-bottom: 20px;
}

.mini-image {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 0 5px;
}

.product-medium-image img {
  width: 400px;
  height: 400px;
}

.product-description {
  text-align: left;
  max-width: 800px;
}

.product-options {
  margin-top: 20px;
}

.product-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.product-description-text {
  margin-top: 20px;
}

.similar-products {
  margin-top: 40px;
  width: 100%;
}

.similar-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.similar-product-item {
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}
.product-detail-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.product-images {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.product-medium-image {
  margin-right: 20px;
}

.product-description {
  flex: 1;
}

.product-options {
  margin-top: 20px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.product-size,
.product-color {
  margin-bottom: 10px;
}

.product-size button,
.product-color .color-circle {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.product-size button.selected,
.product-color .color-circle.selected {
  background-color: black;
  color: white;
  // border: 2px solid #000;
}

.color-circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.product-price{
  display: flex;
  gap: 10px;
  align-items: center;
}